/* VARIABLES */
:root {
    --dark-pink: #ba4270;
    --link-water-white: #e1e1e1;
    --san-juan-blue: #36536b;
    --mirage-blue: #1B262F;
    --charm-pink: #DA6D97;
    --light-san-juan-blue: #6C8294;
}